body{
    background-color: #f1f1f1;
}

.center {
    text-align: center;
}

#human_postions {
    text-align: center;
}

.display_view {
    padding: 8px;
}

.auto-loder {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8) url(../images/ajax-loader.gif) no-repeat 50% 50%;
}

